dd {
  white-space: pre-line;
}

td.season-peak {
  text-align: center;
  font-weight: 600;
  color: green !important;
}

td.season-flat {
  text-align: center;
}

td.season-low {
  text-align: center;
  color: red !important;
}

td.season-active {
  background-color: rgb(159, 165, 148);
}